#chatting-screen {
  background-color: var(--background__color);
  height: 200vh;
}

#chatting-screen .alt-header,
#chatting-screen.status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: var(--background__color);
}
#chatting-screen .alt-header {
  z-index: 1;
}

#chatting-screen .status-bar {
  z-index: 2;
}

@keyframes comeIn-left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes comeIn-right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    transform: none;
    opacity: 1;
    visibility: visible;
  }
}

.main-chatting {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatting__timestamp {
  color: black;
  background-color: #e0dcc9;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.meassage-avatar__img {
  width: 50px;
  height: 50px;
  border-radius: 23px;
  margin-right: 15px;
}
.message-info {
  display: flex;
  align-items: flex-end;
}

.message-author {
  opacity: 0.5;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.message-bubble {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}

.message-info iframe {
  margin-right: 7px;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.message-info__img {
  width: 300px;
  margin-right: 7px;
  border-radius: 20px;
  border-top-left-radius: 0px;
}

.message-time {
  opacity: 0.5;
  font-size: 14px;
  height: 100%;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-bubble {
  background-color: #8ed2c8;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message-info {
  flex-direction: row-reverse;
}

.typing {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.typing .typing__column:first-child {
  width: 10%;
}

.typing .typing__column:last-child {
  width: 90%;
  position: relative;
}
.typing input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.typing__column:last-child > i,
.typing__column:last-child button {
  position: absolute;
  right: -21px;
  top: 4px;
}
.typing i {
  opacity: 0.5;
}

.typing__column:last-child > i {
  right: 17px;
  top: 12px;
}

.typing__column button {
  background-color: var(--yerllow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.typing__column button i {
  opacity: 1;
}

.typing__column button:focus,
.typing__column button:active {
  outline: none;
}
.typing .typing__column:first-child,
.typing .fa-smile-beam,
.typing button {
  transition: opacity 0.3s ease-in-out;
}
.typing:focus-within .typing__column:first-child,
.typing:focus-within .fa-smile-beam,
.typing:focus-within button {
  opacity: 0;
}

.typing:focus-within input {
  width: 93vw;
  transform: translateX(-13%) translateY(-80px);
}

.typing:focus-within {
  transform: translateY(80px);
}
