.screen-header {
  margin-top: 30px;
  margin-bottom: 13px;
  display: flex;
  padding: 0px var(--horizontal-space);
  justify-content: space-between;
  align-items: center;
  color: var(--text__color);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}
.screen-header__icons {
  display: flex;
  align-items: center;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotatcog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotatcog 2s linear infinite;
}
